# Tutorial 5: Python toolkit: Introduction to Pandas

_BS1819 Data Structures and Algorithms, September 2018_

_Imperial College Business School_


---
In the previous tutorial, we worked with the `numpy` library, which is the standard library for numeric manipulations in Python.

In this tutorial, we will move to `pandas`, a library that builds on top of numpy with higher level structures to allow convenient and versatile data analysis. Today we will cover the use of pandas for loading data, representing it with common structures (pandas series and dataframes), and manipulating/accessing data within these structures. In the next tutorial, we will continue to work on aggregating and merging data in pandas.

---

## Recap

### Question 0: Recap

**A.** Create a Python list containing 100 consecutive multiples of 2, starting from 4, ie 4,6,8, and so on. What is the last element of the list?

**B.** What is the sum of the list values?

In [ ]:
# Solve the recap exercise here and assign the correct values in 
# the next cell.
L = []

for ind in range(100):
    L.append(4 + 2*ind)

print(L)
print(sum(L))

Use the command 
```
python ok -q recap -u
```
on the command line to test your results.

## Submitting your work

There are eight questions in total, some on the command line, some in the Notebook. You will get full credit for making a good attempt at most of the questions.

After you're done with the exercises below, you'll submit the assignment to OK directly from this Notebook. The submission instructions are in the end of the tutorial.

First, let's connect the Notebook to OK. To do so, run the code cell below. It may prompt you to log in. If it does, follow the instructions.

In [ ]:
# Don't change this cell; just run it. 
# The result will give you directions on how to log in to the OK submission system.
# Once you're logged in, OK should remember it for the duration of the session.
import zipimport
import os
nb_path = os.path.join('client', 'api', 'notebook')
ok_bundle =  zipimport.zipimporter('./ok').load_module('client')
ok_nb = zipimport.zipimporter('./ok').load_module(nb_path)
ok = ok_nb.Notebook('tut05.ok')
_ = ok.auth(inline=True)

The below cell provides an alternative way to log in to OK if the above way fails on your laptop for some reason. If the login worked, you can skip to the recap exercise.

In [ ]:
# If your login works with the above cell, no need to run this
# If the above cell does not work, this is a backup way of loading up OK
# Don't change this cell; just run it. 
!pip install -U okpy
from client.api.notebook import Notebook
ok = Notebook('tut05.ok')
_ = ok.auth(inline=True)

If the OK problem still persists, try the following steps: 
1. Go to the command line and navigate to the folder where you have this Notebook.
2. Run the command `python ok` and log in the standard way
3. Try running the first cell above again.
The questions ask you to use Python. You can do so below.

## Pandas

Pandas builds on top of numpy and matplotlib to provide data analysis and statistical functionalities in Python. 

We will first introduce some core aspects of pandas using toy data, and then analyse a real data set.

In [ ]:
# # We import the numpy library to generate some random data.
# # Also the pandas library is imported.
import numpy as np
import pandas as pd

# # We fix the seed so that the results are reproducible.
# # Please do not change the seed below.
np.random.seed(seed=9)
# # Let's generate some toy data (sampled from a Gaussian distribution)
values = np.random.randn(100, 1)

Much of the work we do with pandas revolves around the use of _DataFrames_ to organize data. A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet. If you've used R, chances are you've already used dataframes. The functionalities are very similar. The data structures in pandas build on and wrap around most popular data-types of python, e.g. lists, numpy arrays, so it's easy to move from one to another and call functions that work on a specific structure.

In [ ]:
# # Let's use the numpy vector that we created above to create a DataFrame.
dataframe = pd.DataFrame(data=values)

In [ ]:
# # Pandas also includes most of the core methods/properties of a numpy array.
# # For instance, you can call get the shape the same way as in a numpy array.
print(dataframe.shape)

# # Few additional methods that are exactly the same (in the way you call them)
# # as in the numpy arrays are the max, min, median, mean, sum, std (standard 
# # deviation) methods.
print(dataframe.max())

# # The max value should be 2.45. But notice the result is not a simple value 
# # but a pandas data "series"
print('Result type:', type(dataframe.max()))

# # To get only the max value without the additional information, you 
# # could do: 
print(dataframe.max()[0])

### Question 1: Dataframe summary

**A.** What is the min value of the dataframe?

**B.** What is the mean value of the dataframe?

**C.** Now create a new DataFrame named `dataframe_10k` that includes a vector of 10000 elements sampled from a Gaussian as above. What is the mean value now? ** Hint ** Remember to copy the same seed as above to ensure that you create the same array as in the test. The random.seed and the creation of the matrix should be in the same cell.

In [ ]:
# Change the next line so that min_elem_df contains the min
# element of dataframe. 
# The expected result is ONLY the min value.
min_elem_df = dataframe.min()[0]


# Change the next line so that mean_elem_df contains the mean
# element of dataframe. 
# The expected result is ONLY the mean value.
mean_elem_df = dataframe.mean()[0]

In [ ]:
# Please do not modify the line below (allows us to replicate the results).
np.random.seed(seed=9)

# The lines below concern part C of Question 1. 
# Modify the line below so that it creates the dataframe of 10k elements
# as mentioned in the description (part C above).
dataframe_10k = pd.DataFrame(np.random.randn(10000, 1))

# Change the next line so that mean_10k contains the mean
# element of dataframe_10k. 
mean_10k = dataframe_10k.mean()[0]

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q1')

Now that we've seen how a DataFrame is initiated and some methods that it includes, you might wonder the benefits over using a numpy array. 

Here are some important differences between the two:

* A numpy array demands homogeneous data, while in a dataframe, different data types (float, string, datetime) are allowed in the same structure.
* Numpy is an amazing low-level tool for data manipulation, required by most other libraries (including pandas). However, pandas offers a  plethora of high-level functionality, e.g. grouping data by conditions (using the groupby method) and combining datasets with merge and join methods. We will see these methods later.
* The data (columns/rows) can have labels in pandas. In numpy the programmer needs to keep in mind the semantics of each column/row, while in dataframe they are explicitly coded in the structure.

Let's study an example that utilises some of these ideas. We'll create a small dataset of a few countries with the countries names, population, GDP, a d country codes. This sounds like a problem where we might use dictionary. Indeed the dictionary is convenient for housing this kind of data. However, data/number processing with a dictionary can be cumbersome.

In [ ]:
d1 = {}
d1['countries'] = ['UK', 'France', 'Spain', 'Netherlands']
d1['codes'] = ['uk', 'fr', 'es', 'nl']
# # the population is measured in millions
d1['population'] = [65.6, 66.9, 46.6, 17.0]
# # the gdp is measured in billions
d1['gdp'] = [2619, 2465, 1232, 770]

In [ ]:
# # Let's create a dataframe now with that data.
# # DataFrame includes a convenience constructor that
# # just accepts the dictionary data and creates
# # the same structure as in the previous example.
countries_data = pd.DataFrame(d1)

print(countries_data['gdp'])
countries_data # Notebook gives a nice HTML table of the dataframe

In [ ]:
# # Additionally, we can call the aggregation methods as above, but now we get
# # a result per column (which makes sense, we do not want to average
# # gdps together with populations).
countries_data.mean()

### Question 2: More summaries

**A.** What is the sum of the populations in the `countries_data`?

**B.** What is the standard deviation of the gdp's in the `countries_data`?

In [ ]:
# Change the next line so that sum_pop_countries_data computes the sum of
# the populations from countries_data.
# (by default the answer is expected to have one decimal)
sum_pop_countries_data = round(countries_data.sum()['population'],1)

# Change the next line so that std_gdp_countries_data computes the std of
# the gdp from countries_data.
# (by default the answer is expected to have one decimal)
std_gdp_countries_data = round(countries_data.std()['gdp'],1)

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q2')

## File loading, data processing with Pandas

Now that you've become familiar with Dataframe, let's scale up our exploration and download a real dataset. We will use the Titanic dataset from the Kaggle Getting Started challenge at:

https://www.kaggle.com/c/titanic-gettingStarted

The dataset is included with the tutorial as `titanic.csv`.

In [ ]:
%matplotlib inline 
# make sure matplotlib plots display nicely in the Notebook

In [ ]:
# # Let's load the first csv file. 
data = pd.read_csv('titanic.csv')

# # Printing the shape of the dataset we have just loaded.
print(data.shape)

# # The first step in data analysis is the exploration step.
# # We want to verify that a) our dataset is appropriately loaded,
# # b) get a sense of what values it has.
# # Let's display the 5 first rows:
data.head(5)
# # (When we run this in the Notebook, we will get a nice 
# #  HTML representation of the table.)

Let's extract some info from what we have just printed:

As you've noticed, each row has an id, starting from zero, and the data columns have names that help us categorise the values of the columns. For instance, the fourth column includes the names of the passengers and the sixth their ages. 
In the Cabin column, notice that there are some 'NaN' values. 'NaN' typically denotes a missing value in pandas.

Pandas includes a lot of built-in tools and methods that produce useful insights for our data. For instance:

In [ ]:
data.describe()

In [ ]:
# # Pandas also allow us to plot values directly. 
# # Let's plot a histogram of the age of the passengers
# # pandas wraps around the relevant matplotlib function to directly do plotting. 
# # We could also import matplotlib as before
data.hist(column='Age')

For accessing a specific value of a column you can you use the at[] property or the get() method, like this:

```python
>>> data.at[0, 'Age']
22
>>> data.get('Age')
# the entire column
```

### Question 3: Accessing a dataframe

**A.** What is the age of the 10th passenger (i.e. PassengerId is 10)?

**B.** What is the cabin value for the 194th passenger?

In [ ]:
# Change the next line so that age_passenger_10 computes the age of
# the 10th passenger.
age_passenger_10 = data.at[9, 'Age']

# Change the next line so that cabin_194_passenger computes the 
# cabin number of the 194th passenger.
cabin_194_passenger = data.at[193, 'Cabin']

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q3')

### Question 4: More accessing

Fill in the line of code below and then test it using the cell below.

In [ ]:
# Change the next line so that it computes ticket number/id of
# the 100th passenger
ticket_i_th_passenger = data.at[99,'Ticket']

# We've put this line in this cell so that it will print
# the value you've given to ticket_i_th_passenger when you
# run it.  You don't need to change this.
ticket_i_th_passenger

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q4')

#### Data modification with pandas

In addition to parsing data, pandas can be used to modify data tables. We will go through a few common methods.

In [ ]:
data.head(5)

In [ ]:
# # Let's delete the first and the third 
# # passengers (remember the indexing in 
# # python starts from 0).
data.drop([0, 2], axis=0).head(5)

In [ ]:
# # Apart from that, you can also delete whole columns or rows.
# # For instance, for your problem, the Cabin column might be 
# # irrelevant, let's delete it.
data.drop(['Cabin'], axis=1).head(5)

Let's now print the first five elements to check how the dataset looks like.

In [ ]:
data.head(5)

Take a minute to consider what pandas have printed for you...

You might have observed, that the 'Cabin' column that we deleted above (the result showed it was deleted above) is still there. You will also notice, that even the elements that we deleted (passengers 1 and 3) are also re-added. Or were they never deleted in the first place? 

By default in pandas `drop` is not "inplace": in other words, the function returns you a *copy* while the original is untouched. However, since the copy is of the same type, you can assign it to a new variable, which will now contain only the reduced elements/columns.

In [ ]:
# # Let's check that the data type is the same.
print(type(data))
# # What about the return type from a drop operation?
print(type(data.drop(['Cabin'], axis=1)))

### Question 5

Assign to the variable `reduced_data` the pandas matrix that does not include the columns of Cabin, Embarked and SibSp. Then execute the cell below for testing with the ok system.

In [ ]:
# Change the next line so that it computes the reduced data matrix.
reduced_data = data.drop(['Cabin','Embarked','SibSp'], axis=1)

# We've put this line in this cell so that it will print
# the value you've given to reduced_data when you
# run it.  You don't need to change this.
reduced_data.head()

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q5')

Apart from deleting, you can also replace values by new ones. Remember that the main purpose of pandas is statistical computation, hence we often translate values to numbers that we know how to process. 

For instance, strings, such as 'male' or 'female' are not really useful for statistical analysis. We usually prefere to replace them with numerical values:

In [ ]:
data.replace('male', 1).head(5)

As with drop, the replace function returns a copy, so keep in mind that if you want to save them, you have to assign to a new variable.

In [ ]:
# # An alternative way to replace the data is the following:
data['Sex'] = data['Sex'].map({'female': 1, 'male': 0})

In [ ]:
data.head(5)

Let's now assume that from an external source, you figure out the Nationality of the passengers and want to insert that information. Pandas allow you to insert new rows, and in contrast with the aforementioned methods, this is an in-place operation.

In [ ]:
# # Right after the Sex, we want to include a new field named 'Nationality'. 
# # Since most of the passengers are Irish, we will by default assign 
# # the label 'Irish' to them and refine for those that are not.
data.insert(5, 'Nationality', 'Irish')

data.head(5)

So far, we have replaced the values of a complete column, however what if we want to perform some modifications in specific values per row (e.g. if a condition is true)?

In [ ]:
# # Let's assume for a moment that the nationality of 
# # those with Age NaN is Other European (hence why there 
# # are no records of their age).
# # We want to replace the default nationality with
# # their known nationality.
import numpy as np
for index, row in data.iterrows():
    if np.isnan(data.loc[index, "Age"]):
        data.loc[index, "Nationality"] = "European"

In [ ]:
data.head(10)

In [ ]:
# # What we've done above is to replace some of the nationalities with 'European'. 
# # One property of pandas that we've utilised for that is the '.loc'.
# # Let's explore that a bit more: 
print(data.loc[3])

As can be easily verified from the print above, this provides the whole row of the 4th passenger (as Python follows zero-based indexing). In other words, data.loc is a way to index a row or even a specific 'cell' inside the row as we did above with `data.loc[index, "Nationality"]'.

In [ ]:
# # As typically done in higher level libraries in python, '.loc' offers a great deal of functionality. 
# # You can find furthr information by executing data.loc??
help(data.loc)

We can filter dataframes directly:

In [ ]:
european_bool = data['Nationality'] == 'European' # creates Booleans for each entry
print(european_bool.head(10))
# We could then pick only these records with 
europeans = data[european_bool]
# If we want to count different values, we can do 
data['Nationality'].value_counts()
# Counting how many non null values exist would be data['Nationality'].count()

## Review questions

In this tutorial, we've been introduced to the pandas library for data analysis. Based on your newly acquired knowledge, how would you answer the following?

* Why is pandas library useful when there is numpy? 
* Can you manipulate the pandas tables? Or are they read-only?

Pandas is the workhorse of the Python analytics community. In the next tutorial, we will build on today's material with pandas's powerful data aggregation methods, and do a brief introduction to machine learning with the `scikit-learn` library.

______________________________________________________________________________________________

**Important**. Before you leave lab, run this final cell to submit your work.

In [ ]:
_ = ok.submit()

## Optional exercises

### Question 6

**A.** Can you replace the nationalit column with numbers? For instance, try to assign values such that Irish = 0, Other European = 1. 

**B.** How many people of European nationality are there? (Following the assumption above for the NaN in the age)

**C.** For how many passengers do we have with Cabin information?

In [ ]:
# Change the next line so that it computes the number of
# people with European nationality.

data['Nationality']=data['Nationality'].map({'Irish':0,'European':1})

n_european = data['Nationality'].sum()

# Change the next line so that it computes the number of
# people for which we have cabin information.
n_passengers_cabin = data['Cabin'].count()

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q6')

### Question 7

Assign to the variable `only_pclass2` the pandas matrix that includes only the passengers with Pclass = 2. Then execute the cell below for testing with the ok system.

In [ ]:
# Change the next line so that it computes a new dataframe
# that includes only the people with Pclass = 2.
# One way to use conditions in pandas is directly with data[CONDITION]
only_pclass2 = data[data['Pclass']==2]

# We've put this line in this cell so that it will print
# the value you've given to only_pclass2 when you
# run it.  You don't need to change this.
only_pclass2.head()

In [ ]:
# Test cell; please do not change!
_ = ok.grade('q7')